div {
    margin-top: 30px;
    border: 5px solid black;
    border-radius: 10px;
    padding-left:10px
}
.Definitions {
    background-color: coral;
}
.CausesandConsecuences {
    background-color: #00FFFF
}
.MyCommunity {
    background-color: #6a5acd;
}
